.alreadyConnected {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 5px;
    color: #3c763d;
    font-weight: bold;
    width: 150px;
}

.signInButton {
    background-color: #428bca;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.signInButton:hover {
    background-color: #3276b1;
}

.signInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logOutButton {
    background-color: red;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}